.add-form{
    color:rgb(234, 234, 234);
    margin: 1rem .5rem;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.text-input{
    padding: 10px;
}
.submit-btn{
    border-radius: 5px;
    padding: 6px 0rem;
}