.movie-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem .5rem;
}
.movie-detail{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 2rem;
}

.link-img{
    flex: 1;
}
.poter{
    width: 100%;
    border: 1.5px solid rgba(255, 255, 255, 0.9);
}
.link-title{
    color: rgb(234, 234, 234);
    text-decoration: none;
}

.title{
    flex: 2;
    font-size: large;
    width: 100%;
    color: rgb(234, 234, 234);
}
.title-detail{
    font-size: xx-large;
    text-align: center;
    color: rgb(234, 234, 234);
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.favorite{
    font-size: xx-large;
}
.un-favorite{
    font-size: xx-large;
    transform: translate(-9px,7px); /* det är lite fusk kode */
    color: gray;

}
.favorite-detail{
    position: absolute;
    right: 0px;
}

.remove{
    font-size: xx-large;
}
.item-grupping{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}