*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header-img{
    width: 100%;
    aspect-ratio: 33/10;
    background-image: url(/src/assets/logo.png);
    background-size: cover;
    background-repeat: round;
}
.background-body{
    background-color: rgb(38, 38, 38);
    width: 100%;
    padding-bottom: 1rem;
}